/* Theme 1 - Ocean Green */

:root[data-theme="theme1"] {
    --background: oklch(0.9751 0.0127 244.2507);
    --foreground: oklch(0.3729 0.0306 259.7328);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3729 0.0306 259.7328);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3729 0.0306 259.7328);
    --primary: oklch(0.7227 0.192 149.5793);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9514 0.025 236.8242);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.967 0.0029 264.5419);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9505 0.0507 163.0508);
    --accent-foreground: oklch(0.3729 0.0306 259.7328);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.7227 0.192 149.5793);
    --logo-filter: invert(0.8) sepia(0.5) saturate(1.5);
}

:root[data-theme="theme1"].dark {
    --background: oklch(0.2077 0.0398 265.7549);
    --foreground: oklch(0.8717 0.0093 258.3382);
    --card: oklch(0.2795 0.0368 260.031);
    --card-foreground: oklch(0.8717 0.0093 258.3382);
    --popover: oklch(0.2795 0.0368 260.031);
    --popover-foreground: oklch(0.8717 0.0093 258.3382);
    --primary: oklch(0.7729 0.1535 163.2231);
    --primary-foreground: oklch(0.2077 0.0398 265.7549);
    --secondary: oklch(0.3351 0.0331 260.912);
    --secondary-foreground: oklch(0.7118 0.0129 286.0665);
    --muted: oklch(0.2463 0.0275 259.9628);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.3729 0.0306 259.7328);
    --accent-foreground: oklch(0.7118 0.0129 286.0665);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --border: oklch(0.4461 0.0263 256.8018);
    --input: oklch(0.4461 0.0263 256.8018);
    --ring: oklch(0.7729 0.1535 163.2231);
   --logo-filter: invert(0.8) sepia(0.5) saturate(1.5);

}
